#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.project-container{
  width: 300px;
  background: transparent;
  color: white;
  border: 1px solid white ;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255,0.5) 0px 1px 4px;
  margin-bottom: 20px;
  font-size: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.project-container:hover{
  box-shadow: 0 0 4px 0 white;
  border: 1px solid #888;
}

.img-div{
  margin: 20px;
  height: 20vh;
  width: auto;
}

.img-div img{
  object-fit: cover;
  height:100%;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.project-container h1{
  top: 20px;
  margin: 0;
}

.project-container p{
  margin: 15px 5px;
  font-size: 1rem;
}

.source-btn{
  font-size: 1rem;
  padding: 1rem 0.8rem;
  margin-top: 15px;
}

.source-btn:hover{
  opacity: 0.97;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.head {
  font-size: 40px;
}

.intro {
  color: #888;
}

.socials ul,
.links ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}

.links ul li {
  margin: 0 1rem;
}

.navbar {
  width: 20rem;
  margin: auto;
  border-bottom: 1px solid rgb(78, 78, 78);
}
.experience {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (max-width: 768px) {
  .left-item{
    flex-direction: column-reverse;
  }
  .right-item{
    flex-direction: column;
  }
}

.socials ul li a {
  width: 1.5rem;
  font-size: 1.5rem;
  margin: 0.5rem;
  color: white;
}

.socials ul li a:hover {
  width: 1.5rem;
  font-size: 1.5rem;
  margin: 0.5rem;
  color: #2dbdff;
}

.foot {
  color: #9c9c9c;
  font-size: 0.8em;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.card {
  width: 20vw;
  margin: auto 1rem;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  height: 40vh;
}

@media only screen and (max-width: 650px) {
  .cards {
    display: block;
  }
  .card {
    width: auto;
    margin: 1rem auto;
  }
}

.subheading {
  font-size: 2.3rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 1.5rem auto;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 10px;
  padding: 1rem;
}

.item div {
  margin: 0.2rem 1rem;
}

.item-img img {
  height: 15vh;
  width: 15vw;
}
